.slide-right {
  animation: slide-right 1s linear both;
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
.landingPage {
  background-color: #ffeebb;
}
h1 {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 50%;
}
h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 75%;
}
.sec1 {
  background-color: #9ac5f4;
}
.sec2 {
  background-color: #99dbf5;
}
.container {
  padding-top: 50px;
}
.right-con {
  padding-top: 100px;
}
.logo1 {
  max-width: 100%;
  max-height: 100%;
}
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}
.logo1 {
  right: 1020px;
}
.bg-logo {
  left: 250px;
}
.emoji {
  right: 1000px;
}
.demopro {
  top: 600px;
  left: 680px;
}
.star1 {
  top: 300px;
}
.star2 {
  top: 200px;
  left: 300px;
}
.star3 {
  bottom: 300px;
  left: 300px;
}
.star4 {
  bottom: 400px;
}
.heroh1,
.heroh2,
.herobtn {
  margin-left: 200px;
}
button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button:hover {
  filter: brightness(110%);
}

button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

button:focus:not(:focus-visible) {
  outline: none;
}
/* colors */
/* https://colorhunt.co/palette/9ac5f499dbf5a7eceeffeebb */

@media screen and (max-width: 1366px) {
  .bg-logo {
    height: 500px;
    left: 100px;
    top: 200px;
  }
  .logo1 {
    height: 400px;
    left: 150px;
    top: 200px;
  }
  .demopro {
    left: 350px;
    width: 200px;
  }
  .emoji {
    height: 150px;
    right: 1100px;
    top: 580px;
  }
  .star1 {
    top: 250px;
    left: 500px;
  }
  .star2 {
    top: 220px;
    left: 180px;
  }
  .star3 {
    bottom: 180px;
    left: 150px;
  }
  .star4 {
    bottom: 150px;
    left: 480px;
  }
  .heroh1,
  .heroh2,
  .herobtn {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .heroh1,
  .heroh2,
  .herobtn {
    margin-left: 100px;
  }
}

@media screen and (max-width: 992px) {
  .bg-logo,
  .logo1,
  .demopro,
  .emoji,
  .star1,
  .star2,
  .star3,
  .star4,
  .ani > img {
    display: none;
  }
  .heroh1,
  .heroh2,
  .herobtn {
    margin-left: 0;
  }
}
@media screen and (max-width: 470px) {
  .landingPage {
    width: fit-content;
  }
}
@media screen and (min-width: 1367px) {
  .bg-logo {
    left: 100px;
    top: 100px;
  }
  .logo1 {
    left: 150px;
    top: 100px;
  }
  .demopro {
    left: 450px;
    top: 680px;
  }
  .emoji {
    right: 1600px;
    top: 680px;
  }
  .heroh1,
  .heroh2,
  .herobtn {
    margin-left: 200px;
  }
  .star1 {
    top: 200px;
    left: 700px;
  }
  .star2 {
    top: 200px;
    left: 300px;
  }
  .star3 {
    bottom: 280px;
    left: 200px;
  }
  .star4 {
    bottom: 320px;
    left: 680px;
  }
}
